<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MY Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
<link href="my.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
			</br>
			<div id="nav"><a href="Home.html">Home</a> | <a href="Aboutme.html">About Me</a> |<a href="order.html">Order Here</a>|<a href="Contact.html">Contact</a> | <a href="photos.html">My Photos</a> | <a href="videos.html">My Videos</a> |<a href="/guestbook">MY GuestBook</a></div></br></br></br></br>
<h1>
Venkatesh's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>